/*!
	Theme Name: HELLO my sketch is | @hellomysketch : Diseño de productos digitales pixel a pixel.
	Theme URI: http://hellomysketchis.com
	Author: @elnodos
	Author URI: http://migue.design
	Author Contact: hello@migue.design
	Description: Diseño de productos digitales pixel a pixel.
	Version: 3.0
	
	Licensed under the MIT license.
	Copyright 2019

*/

/* Prefixes
_____________________________________________________ */
// @import 'nib'

/* Normalize
_____________________________________________________ */
@import "includes/normalize.styl"

/* Constants
_____________________________________________________ */
@import "includes/constants.styl"

/* Mixins
_____________________________________________________ */
// @import "includes/mixins.styl"

/* Grid
_____________________________________________________ */
@import "includes/grid.styl"

/* Base
_____________________________________________________ */
@import "includes/base.styl"

/* Topbar
_____________________________________________________ */
@import "components/topbar.styl"

/* Navigation
_____________________________________________________ */
@import "components/left-navigation.styl"

/* Footer
_____________________________________________________ */
@import "components/footer.styl"

/* Hero
_____________________________________________________ */
@import "components/home.styl"

/* Details
_____________________________________________________ */
@import "components/courses.styl"


