/* Colors
_____________________________________________________ */
// Brand colors
// acent_color = #0153D8
primary-color = #FFDA55
primaryDark-color = #524001
dark-color = #1D2433
light-color = #F6F8FA
smoke-color = #E7E7E7

black-color = #000
white-color = #fff

blueDark-color = #0F46C1
blue-color = #0099FF
pink-color = #FFA1AA
purple-color = #9835FF
yellow-color = #FBCB3C

/* Typography
_____________________________________________________ */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Poppins&display=swap');
font-light = 'Poppins', sans-serif;
font-bold = 'Archivo Black', sans-serif;


