.course
  &Header
    min-height 140px
    text-align center
    margin-top 40px
    background-size cover
    background-repeat no-repeat
    background-position 0 0
    &-title
      vertical-align middle
      font-family font-bold
      color white-color
      font-size 32px
      line-height 40px
      margin-top 50px
      display inline-block
      font-weight 100
  &News
    margin-top 60px
    &Content
      padding 40px
      background-color light-color
      min-height 300px

    &-date
      p
        margin 0
        text-transform uppercase
        font-size 12px
        color rgba(dark-color, .6)
    &-title
      h3
        font-size 20px
        font-family font-light
        font-weight 600
        line-height 32px
        margin-top 0
    &-message
      p
        font-size 16px
        line-height 28px
        font-family font-light
  &Content
    margin 60px 0
    &-container
      row()
    &-title
      col(12)
      h2
        font-family font-light
        font-size 32px
        line-height 40px
        margin 0
    &-lists
      col(12)
    
.courseList
  padding 0
  margin 0
  margin-top 20px
  list-style none
  &-item
    margin-bottom 36px
    h3
      margin 0
  &-note
    background-color light-color
    padding 20px
    h3
      font-family font-bold
      margin-bottom 0
      font-weight 100
  &-link
    border-bottom solid 2px smoke-color
    display block
    color dark-color
    position relative
    padding-right 60px
    p
      margin-top 4px
    &::after
      content ''
      display block
      width 56px
      height 56px
      position absolute
      right 0
      top 0
      transition all .5s cubic-bezier(0.22, 0.61, 0.36, 1)
    &::before
      content ''
      display block
      width 24px
      height 24px
      position absolute
      right 0
      top 0
      z-index 10
      padding: 16px
      background-size 24px
      background-repeat no-repeat
      background-position center

    &.download-link
      &::before
        background-image url('../imgs/icon/download-link.png')
      &:hover
        &::before
          background-image url('../imgs/icon/download-link-white.png')
    &.external-link
      &::before
        background-image url('../imgs/icon/external-link.png')
      &:hover
        &::before
          background-image url('../imgs/icon/external-link-white.png')


 
/* Color PURPLR items + titles
_____________________________________________________ */
.purple
  .courseContent
    &-title
      color purple-color
  .courseList
    &-link
      &.download-link,
      &.external-link
        &:hover
          color purple-color
          border-bottom-color purple-color
          &::after
            background-color purple-color

/* Color BLUE items + titles
_____________________________________________________ */
.blue
  .courseContent
    &-title
      color blue-color
  .courseList
    &-link
      &.download-link,
      &.external-link
        &:hover
          color blue-color
          border-bottom-color blue-color
          &::after
            background-color blue-color

/* Color NAVY items + titles
_____________________________________________________ */
.navy
  .courseContent
    &-title
      color blueDark-color
  .courseList
    &-link
      &.download-link,
      &.external-link
        &:hover
          color blueDark-color
          border-bottom-color blueDark-color
          &::after
            background-color blueDark-color

/* Color PINK items + titles
_____________________________________________________ */
.pink
  .courseContent
    &-title
      color pink-color
  .courseList
    &-link
      &.download-link,
      &.external-link
        &:hover
          color pink-color
          border-bottom-color pink-color
          &::after
            background-color pink-color
    
/* Color PINK items + titles
_____________________________________________________ */
.yellow
  .courseContent
    &-title
      color yellow-color
  .courseList
    &-link
      &.download-link,
      &.external-link
        &:hover
          color yellow-color
          border-bottom-color yellow-color
          &::after
            background-color yellow-color

@media screen and (min-width screen_large)
  .course
    &Container
      row()
    &Header
      col(12)
      height 200px
      &-title
        font-size 60px
        line-height 60px
        margin-top 70px
    &News
      display inline-block
      col(5)
      &Content
        transition all .2s cubic-bezier(0.22, 0.61, 0.36, 1)
        &.is-scrolled
          width 447.33px
          position fixed
          top 61px

    &Main
      col(5)
      offset(1)
  .courseContent
    &-title
      h2
        font-size 50px
        line-height 50px