/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */
.cd-img-replace
    display inline-block
    overflow hidden
    text-indent 100%
    white-space nowrap
  


/* Touch devices */
.cd-nav-trigger
    display none
    // z-index 20000
    // position fixed
    // bottom 30px
    // right 5%
    // height 44px
    // width 44px
    // border-radius 0.25em
    // background rgba(dark-color, 0.8)
    // span
    //   position absolute
    //   height 4px
    //   width 4px
    //   background-color #3e3947
    //   border-radius 50%
    //   left 50%
    //   top 50%
    //   bottom auto
    //   right auto
    //   transform translateX(-50%) translateY(-50%)
    //   &::before,
    //   &::after
    //     content ''
    //     height 100%
    //     width 100%
    //     position absolute
    //     left 0
    //     background-color inherit
    //     border-radius inherit
    //   &::before
    //     top -9px
    //   &::after
    //     bottom -9px
#cd-vertical-nav
  display block
  width 100%
  background-color white-color
  margin-top 40px
  &.is-scrolled
    position fixed
    top 68px
    left 0
    z-index 1000
    margin-top 0
    border-bottom solid 1px smoke-color
    padding-left 20px
  ul
    padding 0
    margin 0
    text-align left
  li
    display inline-block
    margin-right 10px
  a
    display block
    max-width 90%
    color dark-color
    padding 10px 0
    font-size 12px
    border-bottom 1px solid rgba(white-color, 0.2)
    /*----------------------------
      Colors
      ----------------------------*/
    &.purple
      .cd-dot
        background-color purple-color
      .cd-label
        color purple-color
    &.pink
      .cd-dot
        background-color pink-color
      .cd-label
        color pink-color
    &.blue
      .cd-dot
        background-color blue-color
      .cd-label
        color blue-color
    &.navy
      .cd-dot
        background-color blueDark-color
      .cd-label
        color blueDark-color
    &.yellow
      .cd-dot
        background-color yellow-color
      .cd-label
        color yellow-color


    &.is-selected
      border-top solid 4px
      &.purple
        border-top-color purple-color
      &.pink
        border-top-color pink-color
      &.blue
        border-top-color blue-color
      &.navy
        border-top-color blueDark-color
      &.yellow
        border-top-color yellow-color
  
  // &.open
  //   transform scale(1)
  //   & + .cd-nav-trigger
  //     background rgba(primary-color, 0)
  //     span
  //       background-color rgba(62, 57, 71, 0)
  //       &::before,
  //       &::after
  //         background-color primary-color
  //         height 3px
  //         width 20px
  //         border-radius 0
  //         left -8px
  //       &::before
  //         transform rotate(45deg)
  //         top 1px
  //       &::after
  //         transform rotate(135deg)
  //         bottom 0
  //   li
  //     &:last-child
  //       a
  //         border-bottom none



@media screen and (min-width screen_large)
  /* No Touch devices */
  .cd-nav-trigger
    display none

  .cd-nav-trigger,
  #cd-vertical-nav
    display block
    bottom 40px
    background-color transparent
  
  #cd-vertical-nav
    position fixed
    right 30px
    top 50%
    bottom auto
    transform translateY(-50%)
    z-index 2000
    max-width 200px
    transition all .2s cubic-bezier(.8,0,.2,1)
    margin-top 0
    &.is-scrolled
      position fixed
      right 30px
      left auto
      top 50%
      margin-top 0
      border-bottom none
    &:hover
      .cd-label
        opacity 1
    ul
      text-align right
    li
      text-align right
      display block
    a
      display block
      padding 5px
      border none
      span
        position relative
        display inline-block
        transition all .2s cubic-bezier(.8,0,.2,1)
      .cd-dot
        background-color rgba(dark-color, .2)
        height 2px
        width 10px
        top -3px
      .cd-label
        line-height 25px
        color dark-color
        font-size 14px
        opacity 0
      
      &:hover
        span
          transform scale(1)
        .cd-dot 
          width 20px
      &.is-selected
        border none
        .cd-dot 
          width 20px
        .cd-label
          opacity 1